:root {
    --redPlayerColour: rgb(197, 19, 19);
    --bluePlayerColour: rgb(24, 82, 196);

    --playerSeedLeftRight: 184px;
    --profilePictureWidthHeight: 75px;
    --profilePictureLeftRight: 227px;
    --playerNameLeftRight: 317px;
    --starsContainerLeftRight: 302px;
}

@font-face {
    font-family: "Mestiza";
    font-weight: 500;
    src: url("../fonts/Mestiza-Medium.otf")
}
@font-face {
    font-family: "Mestiza";
    font-weight: 900;
    src: url("../fonts/Mestiza-Black.otf")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 2560px; height: 1440px;
    background-image: url("static/background.png")
}