:root {
    --redPlayerColour: rgb(197, 19, 19);
    --bluePlayerColour: rgb(24, 82, 196);

    --playerSeedLeftRight: 184px;
    --profilePictureWidthHeight: 75px;
    --profilePictureLeftRight: 227px;
    --playerNameLeftRight: 317px;
    --starsContainerLeftRight: 302px;
}

@font-face {
    font-family: "Solway";
    font-weight: 500;
    src: url("../fonts/Solway-Medium.ttf")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 2560px; height: 1440px;
    background-image: url("static/background.png")
}

/* Non 300 Counts */
.non300Counts {
    position: absolute; top: 1131px;
    color: white;
    font-family: "Solway"; font-weight: 500; font-size: 30px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, 1px 1px 0 black;
}
#redNon300Counts {
    left: 25%; 
    transform: translateX(-53%);
}
#blueNon300Counts {
    right: 25%; 
    transform: translateX(47%);
}
.count100 { color: #48ff51; }
.count50 { color: rgb(72, 158, 255); }
.countMiss { color: rgb(255, 72, 72); }

/* Unstable Rate */
.unstableRate {
    position: absolute; top: 1191px;
    font-family: "Solway"; font-weight: 500; font-size: 26px;
}
#redUnstableRate {
    left: 25%;
    transform: translateX(-50%);
}
#blueUnstableRate {
    right: 25%;
    transform: translateX(50%);
}