:root {
    --redPlayerColour: rgb(197, 19, 19);
    --bluePlayerColour: rgb(24, 82, 196);

    --mapPanelDetailsLeft: 127px;
    --matchHistoryPanelWidth: 172.79px;
    --matchHistoryPanelHeight: 270px;

    --sideBarMainLeftMargin: 25px;
    --sideBarButtonFullAndContainerWidth: 260px;
}

@font-face {
    font-family: "Aller";
    font-weight: 700;
    src: url("../fonts/Aller-Bold.ttf")
}
@font-face {
    font-family: "Afacad";
    src: url("../fonts/Afacad.ttf")
}
@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri.ttf")
}
@font-face {
    font-family: "Mestiza";
    font-weight: 500;
    src: url("../fonts/Mestiza-Medium.otf")
}
@font-face {
    font-family: "Mestiza";
    font-weight: 700;
    src: url("../fonts/Mestiza-Bold.otf")
}
@font-face {
    font-family: "Office Code Pro";
    font-weight: 700;
    src: url("../fonts/OfficeCodePro-Bold.otf")
}
@font-face {
    font-family: "Solway";
    font-weight: 700;
    src: url("../fonts/Solway-Bold.ttf")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 2560px; height: 1440px;
    background-image: url("static/background.png")
}

/* Panels */
#allPanelsContainer { 
    position: absolute; left: 218px; top: 244px; 
    display: flex;
}
/* Panel Containers */
.modPanel {
    display: flex;
    flex-direction: column;
    margin-right: 41px;
}
/* Panels */
.modPanel > * { margin-bottom: 13px; }
#DTTBPanels {
    display: flex;
    flex-direction: column;
}
/* Panel Information */
.panel { 
    position: relative;
    height: 129px;
}
/* Map Background Image */
.mapBackgroundImage {
    position: absolute; left: 7px; top: 50%; 
    transform: translateY(-50%);
    width: 114px; height: 114px;
    background-size: cover;
    background-position: center;
    background-image: url("https://assets.ppy.sh/beatmaps/1927978/covers/cover.jpg")
} 
/* Map Title and Song Name */
.mapArtistAndTitle {
    position: absolute; left: var(--mapPanelDetailsLeft); top: 0;
    font-family: "Mestiza"; font-size: 22px;
    width: 372px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mapArtist { font-weight: 500; }
.mapTitle { font-weight: 700; }
/* Map Difficulty */
.mapDifficulty {
    position: absolute; left: var(--mapPanelDetailsLeft); top: 31.2px;
    font-family: "Afacad"; font-weight: 400; font-size: 19px;
}
/* CS AR OD Stats */
.CSARODStats {
    position: absolute; left: var(--mapPanelDetailsLeft);  top: 56.8px;
    font-family: "Solway"; font-weight: 700; font-size: 17px;
}   
.SRBPMLENStats {
    position: absolute; left: var(--mapPanelDetailsLeft); top: 78.8px;
    font-family: "Aller"; font-weight: 700; font-size: 16px;
}
.stats { margin-right: 20px; }
/* Map Mapper */
.mapMapper {
    position: absolute; right: 10px; bottom: 5px;
    font-family: "Calibri"; font-weight: 700; font-size: 20px;
}
/* Banned Panel */
.bannedPanel, .playedPanel {
    position: absolute; left: 2px; top: 2px;
    transition: 500ms ease-in-out;
    opacity: 0;
}
/* Action Image */
.actionImage {
    position: absolute; left: 19px; top: 15px;
    transition: 500ms ease-in-out;
    opacity: 0;
}
/* Win Image */
.winImage {
    position: absolute; left: 19px; bottom: 15px;
    transition: 500ms ease-in-out;
    opacity: 0;
}

/* Match History */
#matchHistoryTimelineContainer {
    position: absolute; left: 760px; top: 805px;
    border: 4px double black;
    border-radius: 4px;
    width: 1036px; height: 270px;
    overflow: hidden;
}
#matchHistoryTimeline {
    width: 1036px;
    display: flex;
}
#matchHistoryTimelineBottom {
    position: absolute; left: 772px; top: 1082px;
    font-family: "Office Code Pro"; font-weight: 700; font-size: 20.4px;
}
.matchHistoryPanel {
    position: relative;
    width: var(--matchHistoryPanelWidth); height: 270px;
}
.matchHistoryPanelImage { width: var(--matchHistoryPanelWidth); height: 270px; }
.matchHistoryPanelBackgroundImage {
    position: absolute; left: 2px; top: 2px;
    width: calc(var(--matchHistoryPanelWidth) - 4px);
    height: calc(var(--matchHistoryPanelHeight) - 4px);
    background-size: cover;
    background-position: center;
    background-image: url("https://assets.ppy.sh/beatmaps/1927978/covers/cover.jpg")
}
.matchHistoryPanelPickedBackground {
    position: absolute; left: 2px; top: 2px;
    width: calc(var(--matchHistoryPanelWidth) - 4px);
    height: calc(var(--matchHistoryPanelHeight) - 4px);
    background: rgb(255, 255, 255, 0.5);
}
.matchHistoryPanelMod {
    position: absolute; left: 50%; top: 6px;
    transform: translateX(-50%);
}
.matchHistoryPanelScore {
    position: absolute; left: 50%; 
    width: 120px; height: 30px;
    transform: translateX(-50%);
    outline: 2px solid black;
    outline-offset: -4px;
    border: 2px solid white;
    font-family: "Solway"; font-weight: 700; font-size: 20px;
    text-align: center;
    color: white;
    line-height: 30px;
}
.matchHistoryPanelWinnerScore { top: 180px; }
.matchHistoryPanelLoserScore { top: 220px; }
.matchHistoryPanelRedScore { background-color: var(--redPlayerColour); }
.matchHistoryPanelBlueScore { background-color: var(--bluePlayerColour); }

/* Side Bar */
#sideBar {
    position: absolute; left: 2560px; top: 0;
    width: 600px; height: 1440px;
    background-color: white;
}
h1 {
    font-family: "Mestiza"; font-weight: 500; font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: var(--sideBarMainLeftMargin);
}
/* Side Bar Column */
.sideBarColumn { width: 300px; height: 1440px; }
#sideBarColumn2 { position: absolute; left: 300px; top: 0; }
/* Divider */
#divider {
    position: absolute; left: 299px; top: 0;
    width: 2px; height: 1440px;
    background-color: black;
}
/* Side bar button */
.sideBarButton { 
    font-family: "Mestiza"; font-weight: 500; font-size: 20px;
    width: calc(var(--sideBarButtonFullAndContainerWidth) / 2 - 5px); height: 50px; 
    border-radius: 10px;
    background-color: transparent;
}
.sideBarButton:active {
    color: white;
    background-color: black;
}
/* Next Autopicker Section */
#nextAutoPickerSection {
    padding-bottom: 20px;
    border-bottom: 4px solid gray;
}
/* Next Autopicker */
#nextAutoPicker {
    font-family: "Mestiza"; font-weight: 500; font-size: 40px;
    margin-left: var(--sideBarMainLeftMargin);
}
#nextAutoPickerSectionButtons {
    width: var(--sideBarButtonFullAndContainerWidth);
    margin-top: 15px;
    margin-left: var(--sideBarMainLeftMargin);
    display: flex;
    justify-content: space-between;
}
/* Full Size Button  */
.fullSizeButton {
    margin-top: 15px;
    margin-left: var(--sideBarMainLeftMargin);
    width: var(--sideBarButtonFullAndContainerWidth);
}
/* Match Id */
#matchId {
    margin-left: var(--sideBarMainLeftMargin);
    font-family: "Mestiza"; font-weight: 500; font-size: 20px;
    width: 250px;
}

/* Pick management options */
.pickManagementSelect {
    width: 200px;
    text-align: center;
    margin-left: 50px;
    border: none;
    font-family: "Mestiza"; font-weight: 500; font-size: 24px;
    margin-bottom: 20px;
}
.pickManagementSelect::-webkit-scrollbar { display: none; }
/* Which Map? */
.whichMapButtonContainer {
    margin-left: var(--sideBarMainLeftMargin);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.whichMapButton {
    width: 84px; height: 45px;
    font-family: "Mestiza"; font-weight: 500; font-size: 24px;
    background-color: transparent;
    border: none;
}