/* Import fonts */
@font-face {
    font-family: "Office Code Pro";
    font-weight: 700;
    src: url("../fonts/OfficeCodePro-Bold.woff2")
}

/* Whole Page */
#main {
    position: absolute; left: 0; top: 0;
    width: 2560px; height: 1440px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Showcase title */
#showcaseTitle {
    position: absolute; left: 50%; top: 129px;
    transform: translateX(-50%);
    font-family: "Office Code Pro"; font-weight: 700; font-size: 32px;
}

/* Sponsored by */
#sponsoredByText {
    font-family: "Office Code Pro"; font-weight: 700; font-size: 19px;
    position: absolute; right: 83px; top: 595px;
}
#sponsoredByImage {
    position: absolute; right: 52px; top: 635px;
    width: 199px; height: 59px;
}

/* Bottom Area */
#bottom {
    position: absolute; bottom: 0;
    width: inherit; height: 180px;
}
/* Map Statistics */
#mapStatistics {
    position: absolute; left: 0;
    width: 873px; height: inherit;
    background: rgb(144,144,144);
}
#mapBanner {
    position: absolute; left: 7px; top: 10px;
    border: 1px solid #000000;
    width: 160px; height: 160px;
    background-image: url("https://assets.ppy.sh/beatmaps/2095154/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
/* Map Stats Text */
.mapInfoText {
    font-family: "Office Code Pro"; font-weight: 700; font-size: 22px;
    color: white;
}
/* Map Stats Line Text */
.mapStatLineText {
    width: 675px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mapInfoLeftAlign { position: absolute; left: 179px;}
#mapArtist { top: 10px; }
#mapSongAndDifficulty { top: 37px; }
#mapInfoMods { top: 64px; }
#mapStats { 
    top: 91px;
    display: flex;
}
#mapStats > * { margin-right: 54px; }
#mapInfoIdText { top: 143px; }

/* Player Details Section */
#playerDetails {
    position: absolute; left: 873px;
    width: 814px; height: inherit;
    background-image: url("static/bottomBackground.png");
    background-size: cover;
    font-family: "Solway"; font-weight: 700; font-size: 23px;
}
/* Player Details Container */
#playerDetailsContainer {
    position: absolute; left: 50%; top: 41px;
    transform: translateX(-50%);
    width: 632px; height: 88px;
    background-color: white;
}
/* Player Name */
.playerDetailsTop { position: absolute; top: 9px;}
#playerName { left: 15px; }
#playerScore {
    left: 50%;
    transform: translateX(-50%);
}
#playerAccuracy { right: 15px; }
#playerDetailsCombo {
    position: absolute; left: 50%; transform: translateX(-50%);
    bottom: 0;
}

/* Strain Graph Container */
/* Strain Graph */
#strainGraph {
    position: absolute; left: 1687px;
    width: 873px; height: inherit;
    background: rgb(144,144,144);
}
.strainGraphDetail {
    position: absolute; top: 20px;
}
#progress {
	position: absolute; bottom: 0; left: 0;
	width: 1694px; height: 180px;
	padding: 0;
	overflow: hidden;
	transition: 100ms linear;
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
}